<ion-header>
  <ion-navbar>
    <ion-title>Home </ion-title>

  <ion-buttons end>
    <button ion-button icon-only (click)="presentRollPopover($event)">
      <ion-icon name="settings"></ion-icon>
    </button>
  </ion-buttons>

  </ion-navbar>
  
</ion-header>

<ion-content  >
  <div *ngIf="roll" >

  
  <div padding>
    <ion-segment [(ngModel)]="rollTabs">

      <ion-segment-button value="parent" *ngIf="roll.parent"  >
        Parent
      </ion-segment-button>

      <ion-segment-button value="subteacher" *ngIf="roll.subteacher" >
        Sub Teacher
      </ion-segment-button>

      <ion-segment-button value="teacher" *ngIf="roll.teacher">
        Teacher
      </ion-segment-button>

    </ion-segment>
  </div>

  <div [ngSwitch]="rollTabs">
    <ion-list *ngSwitchCase="'parent'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-puppy-1.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-puppy-1.jpg">
        </ion-thumbnail>
        <h2>Ruby</h2>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'subteacher'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'teacher'">
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="img/thumbnail-kitten-1.jpg">
        </ion-thumbnail>
        <h2>Luna</h2>
      </ion-item>
    </ion-list>
  </div>
  </div>
</ion-content>
